.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#20232E;
    height: 100%;
}

.Wrapper {
    flex: 1;
    max-width: 425px;
    width: 100%;
    background-color: aqua;
}
