.EventLayoutContainer {
    width: 100%;
    margin: auto;
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-flow: column;
    background-color :#707070;
    align-items: center;
}

@media(min-width: 500px) {
    .EventLayoutContainer {
        width: 425px;
    }
}